* {
  margin: 0;
  padding: 0;
}
body {
  width: 910px;
  background-color: #dde1d6;
  padding: 20px;
}
.div {
  display: flex;
}
.div:nth-child(1) {
  justify-content: space-between;
  background-color: black;
  padding: 60px 0 20px;
}
.flex {
  display: flex;
  color: #dde1d6;
  margin: 0 20px;
}
.flex:nth-child(1) h4 {
  padding-right: 20px;
}
h1 {
  font-size: 250px;
}
.orange {
  background-color: #f14011;
  margin-top: 20px;
}
.orange:nth-child(1) {
  width: 70%;
  margin-right: 20px;
  padding-top: 300px;
}
.orange:nth-child(2) {
  width: 30%;
}
.orange:nth-child(3) h1 {
  line-height: 0.85em;
  margin-bottom: 80px;
}
h2 {
  color: #dde1d6;
  font-size: 40px;
  padding: 0 20px 80px;
}
